@import url("https://fonts.googleapis.com/css?family=poppins:wgth@100;200;300");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
html{
   scroll-behavior: smooth; 
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background-color: #9e7817;
    z-index: 1000000;
    position: fixed;
    height: 80px;
}
.nav h2{
    color: #fff;
    font-size: 1.7rem;   
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item li{
    list-style: none;
    padding-right:50px ;

}
#item li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}
#item li a:hover,#item.icon i:hover{
    color: #ff5733;
    cursor: pointer;
}
#item.icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}
.back{
    background-image: url(img2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;

}
.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
.mid{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;


}
.mid p{
    color: #7f8c8d;
    font-size: 1.3rem;
     margin-bottom:1.4rem ;
}
.mid h2{
    color:#fff;
    font-size: 3rem;
}
.mid .btn{
    padding-top:50px ;
  
}
.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}
.mid .btn a.simple{
    color: #fff;
    font-weight: 500 ;
    padding: 0.9rem  1.6rem;
}
.mid .btn a.simple:hover{
    color:#ff5733
}
.mid .btn a.border{
    color:#ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 0.9rem 1.6rem;
    border-radius:3px ;

}
.mid .btn a.border:hover{
    background:#fff ;
    border: 1px solid #fff;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background: #171819;
}
.details h3,h6,h5{
    color: #fff;
}
.details .one{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
} 
.details .one h3{
   font-size: 2.5rem;
   padding-bottom: 1.1rem;
}
.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}
.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 3rem;
}
.details .one a{
    color: #fff;
    background: #f13a11;
    padding: 1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;    
}
.details .one a:hover{
    background: #fff;
    color:#f13a11;
}

.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left:4rem ;

}
.details .two h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .two h5{
    font-size: 1.1rem;
}
.details .two p{
    font-size: 1.1rem;
    color: #666262;
    margin-bottom: 0.8rem;
}
.informtion{
    background: #f9f9f9;
    padding: 8rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.informtion .about{
     width: 39%;
     
}
.informtion .about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom:1.8rem ;
}
.informtion .about p{
    color: #7f8c8d;
    font-size: 1.2rem;
}
.informtion .people{
     width: 57%;
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     align-items: center;
}
.informtion .people .team1{
    width: 47%;
    height: auto;
    box-sizing: border-box;
    background: #fff;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.027),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.052),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.063),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.076),
  100px 100px 80px rgba(0, 0, 0, 0.1)
;
}
.informtion .people .team1 .img img{
    width: 100;
    object-fit: cover;
}
.informtion .people .team1 .name{
    color:#212529;
    font-size: 1.5rem;
    padding: 5px 20px 0 20px ;
}
.informtion .people .team1 .pro{
    color: #212529;
    padding: 5px 20px 0 20px ;
}
.content{
    padding: 8rem;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
.content .form{
    width: 45%;   
}
.content .form h2{
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.content .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.content .form .submit input, .content .form .submit textarea{
    width: 100%;
    padding: 18px;
    border: 1px solid #95a5a6;
    outline: none;
    margin: 13px 0;

}
.content .form .submit input:focus, .content .form .submit textarea:focus{
     border: 1px solid #111;
}
.content .form .submit input::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
}
.content .form .submit textarea::placeholder{
    color: #7f8c8d;
    font-size: 1.1rem;
    height: 80%;
}
.content .form .submit a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: #111;
    color:#fff;
    text-align: center;
    font-size: 1.1rem;
    margin: 15px 0;
}
.content .map{
    width: 45%;

}
.content .map h2{
    font-size: 2rem;
    color: #212529;
    padding-bottom: 10px;
    width: 100%;
}
.content .map p{
    font-size: 1.1rem;
    color: #212529;
    padding-bottom: 30px;
    width: 100%;
}
.footer{
    border-top:1px solid #ecf0f1 ;
    padding:5rem 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    color: #7f8c8d;
    justify-content: flex-start;
    
}




